.footer {
  background-color: #142850;
  padding: 1em 0;
  text-align: center;
  color: white;
}

.footer .logos {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.footer .logos a {
  display: block;
}

.footer .logos img {
  width: 2em;
  height: auto;
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
  margin-right: 0;
  border-radius: 0;
}

.footer .logos img:hover {
  filter: invert(0);
}

.footer .copyright {
  font-size: 1em;
}
