.header {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  background-color: #142850;
  color: white;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#logo_lise {
  width: 5em;
  height: 5em;
  margin-left: 2em;
}



/* Liens cachés aussi par défaut */
.title_header {
  display: none;
}

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 1.5em;
  right: 5%;
  width: 3em;
  height: 45px;
  z-index: 5;
  cursor: pointer;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: white;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 33vh;
  background-color: #142850;
  top: -100%;
  left: 0;
  right: 0;
  bottom: auto;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  text-align: center;
}

.nav_header {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

nav a:hover {
  color: white;
}

nav a:hover:before {
  height: 100%;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

/* Réglages pour la phrase d'accroche et menu */
@media (min-width: 768px) {
  /* Afficher la phrase d'accroche à partir de 768px */
  .header-tagline {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin: 10px auto; /* Centrer horizontalement */
    font-weight: 500;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    display: block; /* Afficher la phrase d'accroche sur desktop */
    margin-right: 12em;
  }

  .header-tagline:hover {
    color: #1abc9c; /* Changer la couleur au survol */
    transform: scale(1.05); /* Ajouter un léger zoom au survol */
  }

  .header-tagline::after {
    content: ""; /* Nécessaire pour créer la ligne */
    position: absolute;
    bottom: -5px; /* Placer la ligne juste en dessous du texte */
    left: 0;
    width: 100%;
    height: 2px; /* Hauteur de la ligne */
    background-color: #333; /* Couleur de la ligne (associée au texte) */
  }

  /* Cacher le menu burger pour les écrans plus grands */
  .hamburger,
  .nav {
    display: none;
  }

  nav {
    text-align: end;
  }

  .title_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    padding-right: 3em;
  }

  .title_header span {
    position: relative;
    cursor: pointer;
    padding: 8px 15px;
    background-color: transparent; /* Pas de fond, juste le texte */
    color: white; /* Texte en blanc */
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .title_header span:hover {
    background-color: #1abc9c; /* Changement de fond au survol avec couleur vive */
    color: white;
    transform: scale(1.1); /* Effet de zoom au survol */
  }

  .title_header span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .title_header span:hover::after {
    transform: scaleX(1);
  }
}

@media (min-width: 1025px) {
  .header-tagline {
    margin-right: 25em;
  }
  .title_header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
  }
}
